html,body {
    width : 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

}
#app {
    height: 100%;
}


.el-aside {
    overflow: visible;
}